<!DOCTYPE html>
{%load static%}
<html>

<head>

<title>contact</title>

</head>

<body>
<a href="/">Home</a>
<a href="rentlist">Find Rent</a>
<a href="profile">Give Rent</a>
<a href="contact">Contact us</a>
<br><br>
<p> Welcome to Contact Page!!! </p>

<img src="{% static "images/saroj.jpg" height="30" width="20" %}"/>
<p>Developer: Saroj Sharma Pangeni </p>

<br><br>

<iframe src="https://www.facebook.com/saroj.s.pangeni"> height="300" width="200"</iframe>


<!-- 

<br><br><br>

<h3> unordered list </h3>
<ul type='circle'>                     
<li> list1 </li>
<li> list2 </li>
<li> list3 </li>
</ul>

<h3> ordered list </h3>
<ol type='A'>                     
<li> list1 

<ul type='i'>
<li>innerlist1</li>
<li>innerlist2</li>
</ul>

</li>

<li> list2 </li>
<li> list3 </li>
</ol>

<iframe src="https://www.facebook.com/saroj.s.pangeni"> height="300" width="200"</iframe>

<table>

<tr>
<th> first name </th>
<th> last name </th>
<th> Contact no. </th>
</tr>

<tr>
<td> Saroj </td>
<td> Sharma </td>
<td> 9803125357 </td>
</tr>

</table>


-->


</body>

</html>